# ==============================
# NETBEANS
# ==============================
nbproject/private/
build/
dist/

# ==============================
# FICHIERS COMPILÉS
# ==============================
*.class
*.jar

# ==============================
# SYSTÈME
# ==============================
Thumbs.db
.DS_Store
